# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/drahmed"

# JWT
JWT_SECRET="super-secret-key-change-in-production-min-32-chars"

# API
PORT=4000
FRONTEND_URL="http://localhost:3000"

# Public
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
