DATABASE_URL="postgresql://drahmed:YOUR_STRONG_DB_PASSWORD@localhost:5432/drahmed_db"
NODE_ENV="production"
JWT_SECRET="CHANGE_ME_TO_RANDOM_64_CHAR_STRING"
PORT=4000
FRONTEND_URL="https://YOUR_DOMAIN.com"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
